body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  margin: 0;
  color: #333;
}
 
 nav {
  margin-left: 10px;
 }

 nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; 
 }

main{
  max-width: 80ch;
  margin: 0 auto;
  padding: 1.5rem;
}

#pourquoi {
  display:flex;
  flex-wrap: wrap;
}

#pourquoi article {
  flex: 3;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

h1 {
  margin-top: 0;
  color: #36537A;
}

h2 {
  color: #406399;
}

h3 {
  color: #5177AD;
}

section {
  margin-top: 2rem;
}

footer {
  margin-left: 10px;
}